{% extends 'LangLanguageBundle::layoutAdmin.html.twig' %}
{% form_theme form _self %}
 
{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
        <ul class="error_list">
            {% for error in errors %}
                <li>{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}
 
{% block stylesheets %}
{{ parent() }}
<style>
th {vertical-align: top;}
td {padding-bottom:15px;}
</style>
{% endblock %}
{% block javascripts %}
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="{{ asset('bundles/langlanguage/js/scripts.js')}}"></script>
{% endblock %}


{% block content %}
    <h1>{% trans %}Creacion de Idiorec{% endtrans %}</h1>
    <br>
    <form action="{{ path('idiorec_create') }}" method="post" {{ form_enctype(form) }}>
        <table id="herra_form">

            <tbody>
                <tr>   
                    <th>{{ form_label(form.recurso) }}</th>
                    <td>
                        {{ form_widget(form.recurso) }}
                        {{ form_errors(form.recurso) }}
                    </td>
                </tr>              
                <tr>
                    <th>{{ form_label(form.idioma) }}</th>
                    <td>
                        {{ form_errors(form.idioma) }}
                        {{ form_widget(form.idioma) }}
                    </td>
                </tr>
                <tr>
                    <th>{{ form_label(form.nivEasy)  }}</th>
                    <td>
                        {{ form_widget(form.nivEasy) }}
                        {{ form_errors(form.nivEasy) }}
                    </td>
                </tr>
                <tr>
                    <th>{{ form_label(form.nivInt)  }}</th>
                    <td>
                        {{ form_widget(form.nivInt) }}
                        {{ form_errors(form.nivInt) }}
                    </td>
                </tr>
                <tr>
                    <th>{{ form_label(form.nivHard)  }}</th>
                    <td>
                        {{ form_widget(form.nivHard) }}
                        {{ form_errors(form.nivHard) }}
                    </td>
                </tr>                
                <tr>
                    <th>{{ form_label(form.catGram)  }}</th>
                    <td>
                        {{ form_widget(form.catGram) }}
                        {{ form_errors(form.catGram) }}
                    </td>
                </tr>
                <tr>
                    <th>{{ form_label(form.catComEscr)  }}</th>
                    <td>
                        {{ form_widget(form.catComEscr) }}
                        {{ form_errors(form.catComEscr) }}
                    </td>
                <tr>
                    <th>{{ form_label(form.catComAud)  }}</th>
                    <td>
                        {{ form_widget(form.catComAud) }}
                        {{ form_errors(form.catComAud) }}
                    </td>
                </tr> 
                <tr>
                    <th>{{ form_label(form.catPron)  }}</th>
                    <td>
                        {{ form_widget(form.catPron) }}
                        {{ form_errors(form.catPron) }}
                    </td>
                </tr>                     
                <tr>
                    <th>{{ form_label(form.catExpOra)  }}</th>
                    <td>
                        {{ form_widget(form.catExpOra) }}
                        {{ form_errors(form.catExpOra) }}
                    </td>
                </tr>                     
                </tr>                
            </tbody>
        </table>
            {% block javasrcipt2 %}
            <script>
  $("#lang_languagebundle_herramienta_web2OrSoft").change(function () {
    if ($('#lang_languagebundle_herramienta_web2OrSoft').val() == '1') {
        $('#lang_languagebundle_herramienta_tamano').attr('disabled', 'disabled').val('');
        $('#lang_languagebundle_herramienta_getIt').attr('disabled', 'disabled').val('');
        $('#lang_languagebundle_herramienta_oss').attr('disabled', 'disabled');
    } else {
        $('#lang_languagebundle_herramienta_tamano').removeAttr('disabled');
        $('#lang_languagebundle_herramienta_getIt').removeAttr('disabled');
        $('#lang_languagebundle_herramienta_oss').removeAttr('disabled');
    }
}).trigger('change');
  </script>
  {% endblock %} 
            {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}
