{% extends 'LangLanguageBundle::layoutAdmin.html.twig' %}

    {% block stylesheets %}   
{{ parent() }}
        <link rel="stylesheet" href="{{ asset('bundles/langlanguage/css/slimbox2.css') }}" type="text/css" media="all" /> 
    {% endblock %}
{% block javascripts %}
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="{{ asset('bundles/langlanguage/js/slimbox2.js')}}"></script>
{% endblock %}        
{% block content %}
    <h1>Datos de la herramienta</h1>

    <table class="tablaintra1" cellspacing='0'>
        <thead>
            <tr>
                <th>Item</th>
                <th>Detalles</th>
            </tr>
	</thead>
	<!-- Table Header -->
        <tbody>
            <tr>
                <td>Id</td>
                <td>{{ entity.id }}</td>
            </tr>
            <tr class="even">
                <td>Costo</td>
                <td>{{ freeOrPaid }}</td>
            </tr>
            <tr>
                <td>Tipo de herramienta:</td>
                <td>{{ entity.herratipo }}</td>
            </tr>      
            <tr class="even">
                <td>Fecha de creación</td>
                <td>{{ entity.fechaCrea|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <td>Fecha de actualización</td>
                <td>{{ entity.fechaAct|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr class="even">
                <td>Nombre</td>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <td>Versión</td>
                <td>{{ entity.version }}</td>
            </tr>
            <tr class="even">
                <td>Titdest</td>
                <td>{{ entity.titDest }}</td>
            </tr>
            <tr>
                <td>Descripción</td>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr class="even">
                <td>Descripción larga</td>
                <td>{{ entity.descripLarga }}</td>
            </tr>
            <tr>
                <td>Idiomas</td>
                <td><ul>
                    {% for idioma in entity.idiomas %}
                        <li>{{ idioma }}</li>
                    {% endfor %}
                    </ul>
                </td>
            </tr> 
            <tr class="even">
                <td>Keywords</td>
                <td>{{ entity.keywordsEs }}</td>
            </tr>
            <tr>
                <td>Sitio web, softare o app de celular</td>
                <td>{{ web2OrSoft }}</td>
            </tr>
            <tr class="even">
                <td>Tamaño</td>
                <td>{{ entity.tamano }}</td>
            </tr>
            <tr>
                <td>URL para descargar</td>
                <td>{{ entity.getIt }}</td>
            </tr>
            <tr class="even">
                <td>Url del autor</td>
                <td>{{ entity.urlAuthor }}</td>
            </tr>
            <tr>
                <td>Requerimientos mínimos</td>
                <td>{{ entity.reqMinEs }}</td>
            </tr>
            <tr class="even">
                <td>URL SEO</td>
                <td>{{ entity.seoUrl }}</td>
            </tr>
            <tr>
                <td>Sistemas operativos bajo los cuales opera</td>
                <td><ul>
                    {% for os in entity.oss %}
                        <li>{{ os }}</li>
                    {% endfor %}
                    </ul>
                </td>
            </tr>            
            <tr class="even">
                <td>Países en los que funciona</td>
                <td>{{ entity.paises }}</td>
            </tr>
            <tr>
                <td>Valoración</td>
                <td>{{ entity.edRaiting }}</td>
            </tr>
            <tr class="even">
                <td>Foto 1</td>
                <td>{% if entity.foto1 != null %}{{ entity.foto1 }}<br><a rel="lightbox-gallery" href="{{ "../../../../uploads/images/" ~entity.foto1 }}"><img src="{{ "" ~entity.foto1 | imagine_filter('profile_300x300') }}" /></a>{% endif %}</td>
            </tr>
            <tr>
                <td>Foto 2</td>
                <td>{% if entity.foto2 != null %}{{ entity.foto2 }}<br><a rel="lightbox-gallery" href="{{ "../../../../uploads/images/" ~entity.foto2 }}"><img src="{{ "" ~entity.foto2 | imagine_filter('profile_300x300') }}" /></a>{% endif %}</td>
            </tr>
            <tr class="even">
                <td>Foto 3</td>
                <td>{% if entity.foto3 != null %}{{ entity.foto3 }}<br><a rel="lightbox-gallery" href="{{ "../../../../uploads/images/" ~entity.foto3 }}"><img src="{{ "" ~entity.foto3 | imagine_filter('profile_300x300') }}" /></a>{% endif %}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('herramienta') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('herramienta_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}

