{% extends 'LangLanguageBundle::layoutAdmin.html.twig' %}
{% form_theme edit_form _self %}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
        <ul class="error_list">
            {% for error in errors %}
                <li>{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}

{% block stylesheets %}
{{ parent() }}
<style>
    th {vertical-align: top;}
    td {padding-bottom:15px;}
</style>
{% endblock %}
{% block javascripts %}
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="{{ asset('bundles/langlanguage/js/scripts.js')}}"></script>
{% endblock %}
{% block content %}
<h1>{% trans %}Edición de herramienta{% endtrans %}</h1>
<br>
{# Para apuntar a la misma página {{ app.request.server.get('PHP_SELF') }} #}
    <form action="{{ path('herramienta_update', {'id': id}) }}" method="post" {{ form_enctype(edit_form) }}>
        <table id="herra_form">
            <tbody>
                <tr>   
                    <th>{{ form_label(edit_form.web2OrSoft) }}</th>
                    <td>
                        {{ form_widget(edit_form.web2OrSoft, { 'attr':{'class': 'separacion-inputs'}}) }}
                        {{ form_errors(edit_form.web2OrSoft) }}
                    </td>
                </tr>              
                <tr>
                    <th>{{ form_label(edit_form.freeOrPaid) }}</th>
                    <td>
                        {{ form_errors(edit_form.freeOrPaid) }}
                        {{ form_widget(edit_form.freeOrPaid, { 'attr':{'class': 'separacion-inputs'}}) }}
                    </td>
                </tr>
                <tr>
                    <th>{{ form_label(edit_form.herratipo)  }}</th>
                    <td>
                        {{ form_widget(edit_form.herratipo, { 'attr':{'class': 'web2orsoft'}}) }}
                        {{ form_errors(edit_form.herratipo) }}
                    </td>
                </tr>
                <tr>
                    <th>{{ form_label(edit_form.nombre) }}</th>
                    <td>
                        {{ form_widget(edit_form.nombre, { 'attr':{'class': 'separacion-inputs', 'onkeyup': "limitChars(this, 70, 'charlimitinfo0')"}}) }}                        
                        <br><span id="charlimitinfo0" style=" float:left; color:#aa3333; font-size:12px; font-family:verdana" >Te quedan 70 caracteres.</span><br>
                        {{ form_errors(edit_form.nombre) }}
                    </td>
                </tr>
                <tr>
                    <th>{{ form_label(edit_form.version) }}</th>
                    <td>
                        {{ form_widget(edit_form.version) }}
                        {{ form_errors(edit_form.version) }}
                    </td>
                </tr>
                <tr>
                    <th>{{ form_label(edit_form.titDest) }}</th>
                    <td>
                        {{ form_widget(edit_form.titDest, { 'attr':{'onkeyup': "limitChars(this, 41, 'charlimitinfo3')"}}) }}
                        <br><span id="charlimitinfo3" style=" float:left; color:#aa3333; font-size:12px; font-family:verdana" >Te quedan 41 caracteres.</span><br> 
                        {{ form_errors(edit_form.titDest) }}
                    </td>
                </tr>
                <tr>
                    <th>{{ form_label(edit_form.descripcion) }}</th>
                    <td>
                        {{ form_widget(edit_form.descripcion, { 'attr':{'onkeyup': "limitChars(this, 350, 'charlimitinfo1')"}}) }}
                        {{ form_errors(edit_form.descripcion) }}
                            <br><span id="charlimitinfo1" style=" float:left; color:#aa3333; font-size:12px; font-family:verdana" >Te quedan 350 caracteres.</span><br> 
                            
                    </td>
                </tr>
                <tr>
                    <th>{{ form_label(edit_form.descripLarga) }}</th>
                    <td>
                        {{ form_widget(edit_form.descripLarga) }}
                        {{ form_errors(edit_form.descripLarga) }}
                    </td>
                </tr>
                <tr>
                    <th>{{ form_label(edit_form.idiomas) }}</th>
                    <td>
                        {{ form_widget(edit_form.idiomas) }}
                        {{ form_errors(edit_form.idiomas) }}
                    </td>
                </tr> 
                <tr>
                <tr>
                    <th>{{ form_label(edit_form.keywordsEs) }}</th>
                    <td>
                        {{ form_widget(edit_form.keywordsEs) }}
                        {{ form_errors(edit_form.keywordsEs) }}
                    </td>
                </tr>
                <tr>
                    <th>{{ form_label(edit_form.tamano) }}</th>
                    <td>
                        {{ form_widget(edit_form.tamano, { 'attr':{'onkeyup': 'Thousand(this,this.value.charAt(this.value.length-1));'}}) }}
                        {{ form_errors(edit_form.tamano) }}
                    </td>
                </tr>
                <tr>
                    <th>{{ form_label(edit_form.getIt) }}</th>
                    <td>
                        {{ form_widget(edit_form.getIt) }} 
                        {{ form_errors(edit_form.getIt) }}         
                    </td>
                </tr>
                <tr>
                    <th>{{ form_label(edit_form.urlAuthor) }}</th>
                    <td>
                        {{ form_widget(edit_form.urlAuthor) }}
                        {{ form_errors(edit_form.urlAuthor) }}
                    </td>
                </tr>
                <tr>
                    <th>{{ form_label(edit_form.reqMinEs) }}</th>
                    <td>
                        {{ form_widget(edit_form.reqMinEs) }}
                        {{ form_errors(edit_form.reqMinEs) }}
                    </td>
                </tr> 
                <tr>
                    <th>{{ form_label(edit_form.seoUrl) }}</th>
                    <td>
                        {{ form_widget(edit_form.seoUrl) }}
                        {{ form_errors(edit_form.seoUrl) }}
                    </td>
                </tr>   
                <tr>
                    <th>{{ form_label(edit_form.oss) }}</th>
                    <td>
                        {{ form_widget(edit_form.oss) }}
                        {{ form_errors(edit_form.oss) }}
                    </td>
                </tr> 
                <tr>
                    <th>{{ form_label(edit_form.paises) }}</th>
                    <td>
                        {{ form_widget(edit_form.paises) }}
                        {{ form_errors(edit_form.paises) }}
                    </td>
                </tr>  
                <tr>
                    <th>{{ form_label(edit_form.image1) }}</th>
                    <td>
                        {{ form_widget(edit_form.image1) }}
                        {{ form_errors(edit_form.image1) }}
                    </td>
                </tr> 
                <tr>
                    <th>{{ form_label(edit_form.image2) }}</th>
                    <td>
                        {{ form_widget(edit_form.image2) }}
                        {{ form_errors(edit_form.image2) }}
                    </td>
                </tr> 
                <tr>
                    <th>{{ form_label(edit_form.image3) }}</th>
                    <td>
                        {{ form_widget(edit_form.image3) }}
                        {{ form_errors(edit_form.image3) }}
                    </td>
                </tr> 
                <tr>
                    <th>{{ form_label(edit_form.edRaiting) }}</th>
                    <td>
                        {{ form_widget(edit_form.edRaiting) }}
                        {{ form_errors(edit_form.edRaiting) }}
                    </td>
                </tr>                
            </tbody>
        </table>
            {% block javasrcipt2 %}
            <script>
  $("#lang_languagebundle_herramienta_web2OrSoft").change(function () {
    if ($('#lang_languagebundle_herramienta_web2OrSoft').val() == '1') {
        $('#lang_languagebundle_herramienta_tamano').attr('disabled', 'disabled').val('');
        $('#lang_languagebundle_herramienta_getIt').attr('disabled', 'disabled').val('');
        $('#lang_languagebundle_herramienta_oss').attr('disabled', 'disabled');
    } else {
        $('#lang_languagebundle_herramienta_tamano').removeAttr('disabled');
        $('#lang_languagebundle_herramienta_getIt').removeAttr('disabled');
        $('#lang_languagebundle_herramienta_oss').removeAttr('disabled');
    }
}).trigger('change');
  </script>     
    {{ form_end(edit_form) }}
{% endblock %}

        <ul class="record_actions">
    <li>
        <br><a href="{{ path('herramienta') }}">
            Volver a herramientas
        </a>
    </li>
{#    <li>{{ form(delete_form) }}</li> #}
</ul>
{% endblock %}

